.layouts_btn{
    padding: 10px;
    text-decoration: none;
    color: var(--link);
    background-color: #1D1D1D;
}

.layouts_btn:hover{
    color: var(--link-hover);
    background-color: var(--background-btns-hover);
}